html, body{
    margin: 0px;
    background-color: rgb(255, 199, 213);
}

#homepage {
    align-items: center;
    justify-content: center;
    display: block;
    background-image: linear-gradient(var(--gradient1), rgb(255, 203, 203)), url();
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.main-logo{
    width: 50%;

}

.Product-Grid{
    padding: 8%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 40px;
}

.Product-Item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 2px 4px rgb(236, 98, 98);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px; /* Set a fixed height */
}

.BannerImage{
    /* background attributes */
    background-image: linear-gradient(var(--gradient1), rgb(255, 203, 203)), url();
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block;

}

.banner-title{
        /* text attributes */
        text-align: center;
        font-size: 600%;
        font-family: 'Starborn', sans-serif;
    
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 0.1%;
        margin-top: 1%;
        padding-top: 5%;
        padding-bottom: 1%;
        color: wheat;
}

.banner-description-right{
    /* text attributes */
    width: 50%;
    text-align: right;
    float:right;
    font-size: 300%;
    font-family: 'BabyDoll', sans-serif;

    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    margin-top: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: wheat;
}
.banner-description-left{
    /* text attributes */
    width: 50%;
    text-align: left;
    float:left;
    font-size: 300%;
    font-family: 'BabyDoll', sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    margin-top: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: wheat;
}

/*add a black background color to the top navigation */
.navBar {
    background-color:rgb(255, 203, 203);
    overflow: hidden;
}

/*Style the links inside the navigation bar */
.navBar a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 130%;

}

/* Change the color of links on hover */
.navBar a:hover {
    background-color: white;
    color:rgb(255, 141, 141);
}

/* Add a color to the active/current link*/
.navBar a.active {
    background-color:rgb(255, 178, 178);
    color: white;
}

.banner-button {

    width: 40%;
    height: 8%;

    padding: 10px 40px;

    color:#4960d3;
    background-color: #fff;

    /* Border */
    border: 2px solid #9dcbff;
    border-radius: 35px;
    outline: 2px solid rgb(150, 234, 255);

    /* Button Shadow */
    box-shadow: 0px 8px 15px rgba(255, 255, 255, 0.537);
    transition: all 0.3s ease 0s;

    /* Font and Text */
    font-family: 'Starborn', sans-serif;
    font-size: 40%;
    letter-spacing: 2.5px;
    font-weight: 500;
    text-transform: uppercase;

    cursor: pointer;
}

.banner-button:hover {
    background-color: #f4f491;
    box-shadow: 0px, 15px, 20px rgba(213, 170, 75, 0.4);
    color: #d18500;
    transform: translateY(-7px);
}